

.Card-cookies{
    display: flex;
    flex-direction: column;
    padding:0.3rem;
    border: 2px solid black;
    width: 35%;
   
    z-index: 1;
    position: relative;
}

.Card-mensajeImg{
    display: flex;
    align-items:flex-start ;
  
    
}


.Card-mensajeBtn{
    display: flex;
    width:90%;
}
.Btn-close{
    text-align: end;
    position: absolute;
    top: 2px;
    right: 4px;
    cursor: pointer;
}


.Card-btnLeer, .Btn{
    text-align: start;
    cursor: pointer;

}


.Card-buttons{
    display: flex;
    flex-direction: column;
 
    
}


.Card-btnLeer{
    text-decoration: underline;

}



/* .Cookies-img{
    width: 100%;
    margin-left: 6rem;
 
} */

.Cookies-imagen{
    width: 50%;
  
    transform: scaleX(-1);
}


.texto-cookie{
   
    overflow: hidden;
    opacity: 0;
    
    animation: persiana 0.5s ease-out forwards;
}





@keyframes persiana {

    0%{
        clip-path:  inset(0 0 100% 0);
        opacity: 0;
    }


    100%{
        clip-path:  inset(0 0 0% 0);
        opacity: 1;
    }
}







@keyframes abrir {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }
    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }





.delay-1{
    animation-delay: 0.8s;
}



.delay-2{
    animation-delay: 1.2s;
}



.delay-3{
    animation-delay: 1.8s;
}


.delay-4{
    animation-delay: 2.2s;
}









@media (min-width: 768px) and (max-width: 1023px) {

    .Card-cookies{
        width: 30%;
    }

}




@media (min-width: 1024px){

    .Card-cookies{
        width: 30%;
    }

}