/* Card instagram */


.Card-IG {
    padding: 0.5rem;
    border: 2px solid black;
    width: 180px;
    height: auto;

}

.Card-IGtxt {
    text-align: start;
}

.IG-link {
    display: flex;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
}



.IG-linkTxt {
    font-family: outfit-semibold;

}




/* Card productos */


.CardProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 400px;


}

.CardProducto a {
    text-decoration: none;
    color: inherit;
    display: block;
}




.CardProducto-img {
    display: flex;
    width: 50%;



}

.Texto-txt {
    width: 100%
}



.Card-imagen {
    width: 100%;
    border-radius: 4px;
}


.Info {
    text-align: start;

}










/* Card carrito */

.Cart {
    display: flex;
    align-items: center;
    align-items: stretch;   
    gap: 4rem;
    padding: 1rem 0;
    justify-content:flex-start;
    /* background-color: yellow; */
    border-bottom: 0.3px solid black;


}



.Cart-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    justify-content: space-between;

}



.Cart-detalle {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.Cart-nombre{
    font-family: outfit-semibold;
}

.Nombre-precio {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}


.Datos-eliminar {
    /* background-color: green; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}





.controladores {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* border: 0.1px solid rgb(80, 79, 79); */
    border-radius: 4px;
    width: 100%;
    margin-top: 1rem;
}

.Cart-img {

    width: 25%;
    /* aspect-ratio: 1 / 1;         */
    object-fit: cover;           
    display: block;
}




.Cart-eliminar {
    text-decoration: underline;
    cursor: pointer;
}



@media (min-width: 768px) {


    .CardProducto {

        width: 300px;

    }

    .CardProducto-img {

        width: 100%;
    }



    .Cart{
       width: 100%;
       height: 70%;
       /* background-color: pink; */
    }


.controladores{

    padding-bottom: 3rem;
}



    .Cart-img{
        width: 15%;

    }




    .Cart-eliminar{
        font-size: 14px;
    }





    /* card-ig */
    .Card-IG {
        width: 200px;
    }




}