

/* Card instagram */


.Card-IG{
    padding: 0.5rem; 
    border: 2px solid black ;
    width: 180px;
    height: auto;

}

.Card-IGtxt{
    text-align: start;
}

.IG-link{
    display: flex;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
}



.IG-linkTxt{
    font-family: outfit-semibold;
    
}




/* Card productos */


.CardProducto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   padding: 1rem;
   width: 400px;


}

.CardProducto a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  


.CardProducto-img{
    display: flex;

    width: 100%;

   

}



.Card-imagen{
    width: 100%;
}


.Info{
    text-align: start;

}










/* Card carrito */

.Cart{
    display: flex;
    align-items: center;
   gap: 4rem;
   padding: 1rem;
   justify-content: space-between;

}



.controladores{
    display: flex;
    justify-content: space-between;
}

.Cart-img{
   
    width: 25%;
}


.Cart-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
   
}


.Cart-eliminar{
    text-decoration: underline;
    cursor:pointer;
}



@media (min-width: 768px)   {


    .Card-IG{
        width: 200px;
    }
}