.Main-product {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.scroll-transition-container {
  position: sticky;
  top: 150px;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* o cover, según lo que prefieras */
  transition: none;
  will-change: transform;
}



/* ANIMACIONES */
@keyframes slideFadeIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes abrirPersiana {
  to {
      transform: scaleY(1);
      opacity: 1;
  }
}






/* MEDIA QUERIES */
@media (min-width: 768px) {
  .Main-product {
      padding: 2rem;
  }
  

}

@media (min-width: 768px) {
  .Imagen {
      padding: 1rem;
  }
  
  .Info-producto {
      width: 90%;
  }
}