

.Main-product{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  gap: 1rem;
  margin-top: 4rem;
}

.galeria-contenedor {
  height: 50vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.imagen-galeria {
  height: 50vh;
  scroll-snap-align: start;
  position: relative;
}

.imagen-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}






.info-producto{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}


.info-texto{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.producto-nombre{
  font-family: outfit-semibold;
}
.info-descripcion{
  width: 100%;
  height: 38vh;
  position: relative;
}


.btn-cart{
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}








@media(min-width:768px) {

  .Main-product{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
  }


  .Galeria-imagenes{
    width:100%;
  }

  .galeria-contenedor{
    height: 90vh;
    width: 100%;
  }


  .imagen-galeria{
    height: 100vh;
  }

  .info-producto{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* background-color: rebeccapurple; */
  }


  .info-texto{
    margin-top: 3rem;
  }

  .info-descripcion{
    /* background-color: red; */
    width: 70%;
    height: 50vh;
  }

  .producto-nombre, .producto-precio{
    font-size: 2rem;
  }

  
}