


.Main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}


.Main-texto2{
    z-index: 9;

}

.Main-texto2 a{
    position: relative;
    z-index: 99; /* Aún más encima */
    pointer-events: auto;
}



.Main-titulo{
    display: flex;
    align-items: center;
    height: 76px;
    width: 100%;
    max-width: 350px;
}





.Main-titulo svg{
    width: 100%;
    height: auto;
    fill: black;
}



.abrir{
    opacity: 0;
    animation:abrir 1s ease-out forwards;
  animation-delay: 0.5s; /* ajusta el delay si lo necesitas */
  transform: scaleX(0); 
  transform-origin: center;
  display: inline-block; 

}


@keyframes abrir {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }
    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }





.texto{
   
    overflow: hidden;
    opacity: 0;
    text-align: center;
    font-weight: 600;
    font-family: outfit-semibold;
    animation: persiana 0.5s ease-out forwards;
}



.delay-1{
    animation-delay: 1.2s;
}



.delay-2{
    animation-delay: 1s;
}



.delay-3{
    animation-delay: 2.2s;
}








@keyframes persiana {

    0%{
        clip-path:  inset(0 0 100% 0);
        opacity: 0;
    }


    100%{
        clip-path:  inset(0 0 0% 0);
        opacity: 1;
    }
}





.Main-span{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}




.Button{
    position: fixed;
    right: 3rem;
    background:none;
    border: none;
    font-family: outfit-semibold;
    cursor: pointer;
    z-index: 1001;
    color: black;
   
    
    opacity: 0;
    clip-path: inset(0 0 100% 0);
    animation: persiana 0.5s ease-out forwards;
    animation-delay: 1.5s;

}










@media (min-width: 768px) and (max-width: 1024px) {
  
   .Main-titulo{
   max-width: 500px;
   height: 100px;
    
   }
      

   .Titulo{
    font-size: 6rem;
   }
    

   .Literal-texto{
    padding: 0.1rem 0.4rem;
   }
    
    }
    
    
    
    
    
    
    
    
    
    @media (min-width: 1025px) {
      
   
        .Main-titulo{
           max-width: 600px;
           height: 121px;
           }


        .Titulo{
            font-size: 7rem;
        }


        .Literal-texto{
            padding: 0.1rem 0.4rem;
        }
    
      
    
    
    }