

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{

  font-family: outfit-medium, poppins;
  font-size: 14px;
  color: black;

}



@font-face {
  font-family: outfit-black;
  src: url(../../public/fonts/Outfit-Black.ttf);
  font-display: swap;
  
}




@font-face {
  font-family: outfit-extrabold;
  src: url(../../public/fonts/Outfit-ExtraBold.ttf);
  font-display: swap;
}




@font-face {
  font-family: outfit-semibold;
  src: url(../../public/fonts/Outfit-SemiBold.ttf);
  font-display: swap;
}




@font-face {
  font-family: outfit-regular;
  src: url(../../public/fonts/Outfit-Regular.ttf);
  font-display: swap;
}


@font-face {
  font-family: outfit-medium;
  src: url(../../public/fonts/Outfit-Medium.ttf);
  font-display: swap;
}



.Main{
  padding: 1.5rem;
  font-display: swap;
}






@media (min-width: 768px) and (max-width: 1024px) {
  
:root{


  font-size: 16px;


}
  


}









@media (min-width: 1025px) {
  
:root{


  font-size: 16px;


}


  


}