
.Main-carrito{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 100 dvh;
}




.Carrito-li{
    list-style: none;
}



.Mensaje{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.Footer-cart{

    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 2rem;

}



.Footer-subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}





/* Carrito desktop */
.Carrito-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    height: 100dvh;
    background-color: white;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    padding: 1rem;
  }
  
  .Carrito-panel.activo {
    transform: translateX(0%);
  }
  
  .Cerrar-carrito {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  



@media (min-width: 768px) {
.Main-carrito{
   
}


.Footer-cart{
}


}

